// Bootstrap full import (from SCSS source)
@import "bootstrap/scss/bootstrap"

// Custom styles
body
  background-color: #f8f9fa

.form-control
  resize: none !important

.form-check-label
  cursor: pointer
  user-select: none

.btn-link
  text-decoration: none
  &:hover
    opacity: 0.8

.bg-blur
  backdrop-filter: blur(1rem)
  color: inherit !important